---
import Layout from '../layouts/Layout.astro'

import { game } from '../scripts/game'
---

<Layout>
    <div class="container mx-auto grid gap-2">
        {game.data.map(card => (
            <div class="bg-zinc-700 w-80 p-4 mx-auto rounded shadow shadow">
                <h2 class="text-xl font-bold">{card.title}</h2>
                <p>{card.year}</p>
                <img src={`/images/cards/${card.image}`} class="w-full rounded" />
            </div>
        ))}
    </div>
</Layout>
